*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:gilroy;
  color:white;
}
body{
  height:100%;
  width:100%;
  background-color: black;
}

main{
  height:100vh;
  width:100%;
  padding:40px;
}

.box{
  height: 300px;
  width:300px;
  background-color: crimson;
  border-radius: 10px;
}

.box1{
  height: 300px;
  width:300px;
  background-color: crimson;
  border-radius: 10px;
}